[Desktop Entry]
Categories=Game
Comment=PC port of Ocarina of Time with modern controls, widescreen, high-resolution, and more
Exec=soh
GenericName=Ship of Harkinian
Icon=soh
Name=Ship of Harkinian
Type=Application
Version=1.5
