[Desktop Entry]
Name=Dusklight
Type=Application
Terminal=false
Exec=appimage-run /home/okama/Games/Dusk/Dusklight-v1.4.1-linux-x86_64.AppImage
Icon=/home/okama/Imagens/Icons/d5f047af6f250b7b437567f9c03e0137.png

